{% load static %}
<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'management/landing_page.css' %}" />
</head>
<body>
    <header>
            <nav>
                 <div class="row">
                    
                    <ul class="main-nav">
                        <li><a href="#">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                    </ul>
                 </div>
                </nav>
            <div class="image-text">
                <h1>Manage all your stores with GMS</h1>
                <a class="btn btn-full" href="#">Get started</a>
                <a class="btn btn-ghost" href="#works">How it works</a>
            </div>
    </header>

    <section class="section-steps" id="works">
            <div class="row">
                <h2>How it works &mdash; Simple as 1, 2, 3</h2>
            </div>
            <div class="row">
                <div class="col steps-box">
                    <div class="works-step clearfix">
                        <div>1</div>
                        <p>Register on GMS</p>
                    </div>
                    <div class="works-step clearfix">
                        <div>2</div>
                        <p>Create an account for your shop.</p>
                    </div>
                    <div class="works-step clearfix">
                        <div>3</div>
                        <p>Categorize your items.</p>
                    </div>
                    <div class="works-step clearfix">
                        <div>4</div>
                        <p>Add items to different categories.</p>
                    </div>
                    <div class="works-step clearfix">
                        <div>5</div>
                        <p>Keep track of your money with a single click.</p>
                    </div>
                </div>
            </div>
        </section>
</body>
</html>