{% extends 'management/base.html'%}
{% block content %}
  {% if products %}
        <table>
          <tr>
            <th>Name</th>
            <th>C.P</th>
            <th>S.P</th>
            <th>Q. Available</th>
            <th>Supplier</th>
            <th>Minimum Q.</th>
          </tr>
        {%for product_reader in products%}
            <tr>
                <td><a href="#">{{product_reader.name}}</a></td>
                <td>{{product_reader.buying_price}}</td>
                <td>{{product_reader.selling_price}}</td>
                <td>{{product_reader.quantity_remains}}</td>
                <td>{{product_reader.supplier}}</td>
                <td>{{product_reader.minimum_quantity}}</td>
              </tr>
              
        {%endfor%}
      </table>
    {% else %}
    <h1 class="xyz">no products</h1>
    {% endif %}
    <button class="add_p tem">
      <a href="{% url 'add_product' shop_name=shops.name %}">addproduct</a>
    </button>
    <button class="add_p">
      <a href="{% url 'bill' shop_id=shops.id %}">Bill</a>
    </button>
    <button class="add_p">
        <a href="{% url 'add_expense' shop_name=shops.name %}">addexpense</a>
      </button>
      <button class="add_p">
        <a href="{% url 'profit_loss' shop_name=shops.name %}">profit & loss</a>
      </button>
{% endblock %}
