{% extends 'management/base.html'%}
{% block content %}
  {% if expenses %}
        <table>
          <tr>
            <th>date</th>
            <th>travel expense</th>
            <th>employee expense</th>
            <th>additional expense</th>
          </tr>
        {%for expense in expenses%}
            <tr>
               <td>{{expense.date}}</td>
               <td>{{expense.travel_expense}}</td>
               <td>{{expense.employee_expense}}</td>
               <td>{{expense.additional_expense}}</td> 
            </tr>
        {%endfor%}
      </table>
      <table class="abc">
            <tr>
                <th>total expense</th>
                <th>{{exp}}</th>
            </tr>
            <tr>
                <th>income</th>
                <th>{{income}}</th>
            </tr>
            <tr>
                <th>total</th>
                <th>{{total}}</th>
            </tr>
      </table>
    {% else %}
    <h1>no expense</h1>
    {% endif %}
{% endblock %}
