{% extends 'management/base.html'%}
{% block content %}
  {% if suppliers %}
        <table>
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>
        {%for supplier in suppliers%}
              <tr>
                <td>{{supplier.name}}</td>
                <td>{{supplier.email}}</td>
              </tr>
        {%endfor%}
      </table>
    {% else %}
    <h1>no Suppliers</h1>
    {% endif %}
     <button class="add_p">
        <a href="{% url 'add_supplier' %}">Add supplier</a>
      </button>
{% endblock %}


